<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Title="Navigation menu">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="/communities" Icon="@(new Icons.Regular.Size20.PeopleLink())" IconColor="Color.Accent">Communities</FluentNavLink>
            <FluentNavLink Href="/docs" Icon="@(new Icons.Regular.Size20.DocumentBulletList())" IconColor="Color.Accent">Docs</FluentNavLink>
            <FluentNavLink Href="/about" Icon="@(new Icons.Regular.Size20.ChartPerson())" IconColor="Color.Accent">About Us</FluentNavLink>
            <FluentNavLink Href="/contact" Icon="@(new Icons.Regular.Size20.ChatBubblesQuestion())" IconColor="Color.Accent">Contact Us</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>